@import url('https://fonts.googleapis.com/css?family=DM+Serif+Display:400,400i&display=swap');
@import url('https://fonts.googleapis.com/css?family=Karla:400,400i,700,700i&display=swap');

body {
    font-size: 16px;
    font-family: 'Karla',sans-serif;
    font-weight: 400;
    box-sizing: border-box;
    margin: 0;
    padding:0;
}

.container {
    width: 1400px;
    margin: auto;
}

#hero {
    background-image: url(../images/bg-pattern-intro-right-desktop.svg);
    background-size: 370px 500px;
    background-repeat: no-repeat;
    background-position: top right;
    height:90vh;
    background-color: hsl(256, 26%, 20%);
    color:#fff;
}

.hero_leadText {
    width:50%;
}

@media (max-width:1600px){
    .container {
        width:1140px;
    }
}